{% extends 'tend/common/base.html' %}
{% import "tend/macros/_patination.html" as page_macros %}
{% block title %}{{tag.name}}-{{ super() }}{% endblock %}
{% block keywords %} {{tag.name}} {% endblock %}
{% block description %} {% endblock %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-white border-0 rounded-0 mb-2 py-2 f-15">
        <li class="breadcrumb-item">
            <i class="fa fa-home mr-1"></i><a href="/">Main Page</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{url_for('main.tags')}}">Tags</a>
        </li>
        <li class="breadcrumb-item">
            <a href="{{url_for('main.tag',t=tag.code)}}">{{tag.name}}</a>
        </li>
    </ol>
</nav>

<div class="text-secondary font-weight-bold py-2 f-15 choice">
    <a class="pb-2 {{ 'active' if orderby == 'time' else '' }}" href="{{url_for('.tag',t=tag.code)}}">
        <i class="fa fa-bars mr-1"></i>orderbyTime</a>
    <a class="pb-2 ml-4 {{ 'active' if orderby == 'hot' else ''}}" href="{{url_for('.tag_hot',t=tag.code)}}">
        <i class="fa fa-fire mr-1"></i>orderbyHot</a>
</div>

<div class="summary-list">
    {% set list = articles.items if articles.items | length > 0 else get_articles(is_hot=True,is_page=True).items %}
    {% for a in list %}
    <div class="media mb-1 mb-sm-2 p-2 p-lg-3">
        <div class="align-self-center mr-2 mr-lg-3 w-25 modal-open">
            <a href="{{url_for('main.article',name=a.name)}}" target="_blank">
                <img class="w-100 article-img" src="{{url_for('.static',filename='img/qwq.jpg')}}" alt="{{a.title}}">
            </a>
        </div>
        <div class="media-body">
            <div class="text-muted mb-2 f-12">
                <img class="avatar" src="{{url_for('.static',filename='img/avatar.jpg')}}"
                    alt="qwq">
                <span>Europix</span>
                <span><i class="fa fa-calendar-times-o ml-2 mr-1"></i>{{a.timestamp|pretty_date}}</span>
            </div>
            <h2 class="mt-0 font-weight-bold text-info f-17">
                <a href="{{url_for('main.article',name=a.name)}}" target="_blank">{{a.title}}</a>
            </h2>
            <p class="d-none d-sm-block mb-2 f-15">{{a.summary|truncate(120,killwords=True,leeway=0) }}</p>
            <p class="d-block d-sm-none mb-2 f-15">{{a.summary|truncate(64,killwords=True,leeway=0) }}</p>
            <div class="text-muted mb-0 f-12">
                Article Category: {{a.category.title}}
                <br>
                <br>
                <span class="font-weight-bold">Read: {{a.vc}}</span>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div>
    {% if orderby == 'hot' %}
    {{ page_macros.pagination_widget(articles, '.tag_hot',t=tag.code) }}
    {% else %}
    {{ page_macros.pagination_widget(articles, '.tag',t=tag.code) }}
    {% endif %}
</div>

{% endblock %}